:root {
    --purple-Lt: hsl(254, 88%, 90%);
    --purple: hsl(256, 67%, 59%);
    --yellow-Lt: hsl(31, 66%, 93%);
    --yellow: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    --18px: 1.125rem;

    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "DM Sans", sans-serif;
}

img {
    max-width: 100%;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    background: #F6F5F6;
    display: grid;
    gap: var(--spacing-400);
    padding: var(--spacing-400) var(--spacing-200) var(--spacing-500);

    .card {
        display: flex;
        flex-direction: column;
        border-radius: 0.625rem;
    }

    /* --------- Sets a gap for all card elements --------- */
    .card:nth-child(1), /* selects 1st, 4th, 6th, 7th, & 8th child elements */
    .card:nth-child(4),
    .card:nth-child(n + 6) {
        gap: var(--spacing-300);
    }
    .card:nth-child(2),
    .card:nth-child(3) {
        gap: var(--spacing-200);
    }
    .card:nth-child(5) {
        gap: var(--spacing-500);
    }
    /* --------- Sets padding for all card elements --------- */
    .card:nth-child(1) {
        padding: var(--spacing-500) var(--spacing-400);
    }
    .card:nth-child(2) {
        padding: var(--spacing-200);
    }
    .card:nth-child(3) {
        padding: var(--spacing-200) var(--spacing-200) 0;
    }
    .card:nth-child(3n + 4) { /* selects the 4th & 7th card elements */
        padding: var(--spacing-400);
    }
    .card:nth-child(5),
    .card:nth-child(6),
    .card:nth-child(8) {
        padding: var(--spacing-300);
    }
    h1 {
        font-size: 2.875rem;
        font-weight: 500;
        text-align: center;
        line-height: 2.625rem;
        /* letter-spacing: -0.115rem; */

        span {
            color: var(--yellow);
        }
    }
    h2 {
        font-size: 1.625rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: -0.098rem;
    }
    h3 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: -0.12rem;
    }
    h4 {
        font-size: 2.875rem;
        font-weight: 500;
        line-height: 2.625rem;
        letter-spacing: -0.115rem
    }
    p {
        font-size: var(--18px);
        font-weight: 400;
        line-height: 1.25rem;
    }
}


.container .card:nth-child(1) {
    background: var(--purple);
    justify-content: center;
    align-items: center;

    h1, p {
        color: var(--white);
    }

    .img-wrapper {
        max-width: 12rem;
    }
    p {
        margin-top: var(--spacing-100);
    }
}

.container .card:nth-child(2) {
    background: var(--white);
    align-items: flex-start;

    .img-wrapper {
        max-width: 19.75rem;
    }
}

.container .card:nth-child(3) {
    background: var(--yellow);

    .img-wrapper {
        max-width: 13rem;
        max-height: 9.813rem;
    }
}

.container .card:nth-child(4) {
    background: var(--purple-Lt);
    align-items: center;
    justify-content: center;

    .img-wrapper {
        max-width: 22.313rem;
    }
    p {
        text-align: center;
        max-width: 22.438rem;
    }
}

.container .card:nth-child(5) {
    background: var(--purple);
    align-items: center;
    justify-content: center;

    .img-wrapper {
        max-width: 14.25rem;
    }
    h3 {
        text-align: center;
        color: var(--white);
    }
}

.container .card:nth-child(6) {
    background: var(--white);

    .img-wrapper {
        max-width: 11.188rem;
    }
    div p {
        margin-top: 0.938rem;
    }
}

.container .card:nth-child(7) {
    background: var(--yellow-Lt);
    align-items: flex-start;
    justify-content: center;

    h3 span {
        color: var(--purple);
    }
    .img-wrapper {
        max-width: 11.875rem;
    }
}

.container :nth-child(8) {
    background: var(--yellow);

    .img-wrapper {
        max-width: 13.75rem;
        max-height: 13.875rem;
    }
}